<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yf22zhan.ivancv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnqyotCmfsXoOFFTrAEzZm6mLncyFRXa8"/>

    </application>

</manifest>
